body {
  background-color: rgb(3, 3, 112);
  margin: 0;
  color: white;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container {
  background-color: rgb(79, 136, 229);
  padding: 3rem;
  border-radius: 3px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;


}

label {
  font-weight: bold;
}