* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, red , rgb(239, 189, 6));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 40px;
  width: 400px;
  height: 600px;
  padding: 10px 25px;
  background: #0a0e31;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
 font-family: 'Times New Roman', Times, serif;
}

h2.title {
  font-size: 1.75rem;
  margin: 10px -5px;
  margin-bottom: 30px;
  color: white;
}

.result {
  position: relative;
  width: 100%;
  height: 65%;
  overflow: hidden;
}

.field-title {
  position: absolute;
  top: 10px;
  left: 8px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5;
  text-transform: uppercase;
  font-size: .65rem;
  pointer-events: none;
  user-select: none;
}